select {
    padding: 15px 20px;
    border: none;
    border-bottom: 1px solid #e4e4e4;
    font-size: 2rem;
    outline: 0;
  }

  /* zweite */

  button#clickMe {
  	padding: 20px;
  	background: transparent;
  	text-shadow: 1px 1px 1px #202020;
  	font-family: "Lato", sans-serif;
  	font-size: 18pt;
  	border: 1px solid #c2e8ce;
  	color: #c2e8ce;
    cursor: pointer;
	}

  /* dritte */


  form {
  	padding: 5px;
  	display: inline-block;
  	background: #999;
  	border-radius: 5px;
	}

	input {
  	background: #333;
  	color: white;
  }